<div class="field">
  <label for={{name}} class="field__label">{{label}}</label>
  {{!-- <input class="field__input" type={{#if type}}{{type}}{{/if}} value={{#if value}}{{value}}{{/if}} name={{name}} readonly> --}}
  <input class="field__input" type={{#if type}}{{type}}{{/if}} value="{{data}}" name={{name}} readonly>
</div> 